.photo-grid {
    margin: 0 auto 92px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 16px;
    max-width: 1184px;
    justify-content: center;
    justify-items: center;
}

@media screen and (max-width: 1279px) {
    .photo-grid {
        gap: 14px;
        max-width: 90.625%;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid {
        gap: 16px;
        max-width: 93.75%;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        gap: 12px;
        margin-bottom: 64px;
        max-width: 90%;
    }
}
