.place__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: underline;
    color: #FFF;
    transition: .2 ease-in-out;
}

.place__link:hover {
    opacity: .8;
}